@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background:url("assets2/19144141_1693062427655872_1826266858552692143_o.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family: "poppins, sans-serif";
}





.date-container #am-pm {
    font-size: 30px;
    margin-left: 20px;
    color: black;
}




.place-container{
    text-align: end;
}

.place-container .time-zone {
    font-size: 30px;
    font-weight: 100;
    color: black;
}
  
.place-container .country {
    font-size: 12px;
    font-weight: 700;
    color: black;
}

.current-info .chart {
    display: flex;
    flex-direction: column;
    background:rgba(24,24,27, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid white;
    color: black;
}

.current-info .chart .weather-item {
   display: flex; 
   justify-content: space-between;
}

.future-forecast {
    display: inline-block;
    width: 100%;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    color: black;
    align-items: center;
    justify-content: center;
}

.future-forecast .today {
    display: flex;
    align-items: center;
    justify-content: center;
}

.future-forecast .today .day {
   padding: 5px 15px;
   background: #3c3c44;
   border-radius: 50px;
   text-align: center;
}

.future-forecast .weather-forcast {
    display: flex;
}

